{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}
    Edit Blog
{% endblock %}

{% block css %}
    <link href="{% static 'css/form-admin.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}


{% block content %}
    <div class="container">
        <h1 class='text-darkgold text-center'>Edit Blog</h1>
                    {% if messages %}
                {% for message in messages %}
                    <div class="text-center alert alert-{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST" class='form-create p-md-5' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="reset " class="btn btn-secondary float-right mr-3">Reset</button>
                <button type="submit " class="btn btn-darkgold float-right mr-3">Save changes</button>&nbsp;
            </form>
        <div class="mt-4 ">
            <a href="{% url 'admin-blog' %}" class="btn btn-danger float-right">Go Back</a>
        </div>

    </div>
{% endblock %}

{% block js %}
{% endblock js %}