{% extends 'layouts/base.html' %} {% block title %}About us{% endblock %} 
{%block content %}
<div class="about">
    <h1 class="mb-4 text-center text-darkgold">About us</h1>
    <hr />
    <p class=''>The Oriental Jade Hotel – a member of Oriental Hospitality
        Group (OHG) - offers 120 premium guest rooms and suites with stunning views of Hoan Kiem
        Lake, Hanoi Cathedral and Hanoi Old Quarter. <br />
        &nbsp;<br />
        Located on Hang Trong Street, the hotel provides guests with a convenient
        base from which they can explore Hanoi Old Quarter within walking
        distance.<br />
        &nbsp;<br />
        Staying at The Oriental Jade Hotel, guests can relax at O’Spa Lotus where
        locally-inspired treatments provide the ultimate relaxation. For guests who
        want to stay fit on the go, our state-of-the-art gym facilities and outdoor
        pool on the 12<sup>th</sup> floor allow them to exercise in style with a
        stunning view of Hanoi Old Quarter.<br />
        &nbsp;<br />
        For dining options, Thang Long Signature restaurant offers a wide range of
        Vietnamese and Western cuisine that promises to impress your taste buds at
        the first bite. Guests can also chill out at our Sixteen Sky Bar, taking a
        sip of our signature cocktails while enjoying a mesmerizing view of the
        Sword Lake.<br />
        &nbsp;<br />
        At The Oriental Jade Hotel, customer satisfaction remains our top priority.
        We are committed to delivering bespoke services that go beyond guests’
        expectations. Let us bring you a memorable stay in Hanoi!</p>

    <p></p>
    <br>

</div>

{% endblock %}