{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block css %}
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
<div class="home container">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <section class="py-4">
                    <div class="">
                        <hr class="small small-home"/>
                        <h2 class="h1 text-uppercase text-center mb-4">
                            Welcome to The Oriental Jade Hotel</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 p-0">
                                <div class='bg-cover d-block mh-3 position-relative'
                                     style="background-image:url('/static/images/room1.jpg');"></div>
                            </div>
                            <div class="col-12 col-md-6 bg-white d-flex align-items-center p-4 p-lg-5">
                                <div>
                                    <div style="text-align: justify;">
                                        <span style="font-size:20px;"><span
                                                style="font-family:times new roman,times,serif;">Experience a relaxing and comfortable first-class stay right in the heart of Hanoi! Often praised for its attentive staff who go above and beyond to deliver exceptional service, The Oriental Jade Hotel also wows guests with a traditional Vietnamese spa, a cozy restaurant and a phenomenal rooftop pool featuring panoramic views of the city.</span></span>
                                    </div>
                                    <br/>
                                    <span style="font-size:20px;"><span
                                            style="font-family:times new roman,times,serif;"><a
                                            class="btn btn-outline-dark" href="{% url 'about-us' %}" rel="noopener">VIEW DETAIL</a></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='pt-0 pb-4'>
                    <div class=''>
                        <hr class='small small-home'/>
                        <h2 class='h1 text-uppercase text-center mb-4'> SPECIAL OFFERS</h2>
                        <div class='row'>
                            <div class='owl-carousel single-offer'>
                                <div class='mb-4 item'>
                                    <div class='bg-white h-100'><a class='bg-cover d-block mh-2'
                                                                   style='background-image:url("/static/images/12.jpg");'
                                                                   href='#'></a>
                                        <div class='text-center p-4 p-lg-5'>
                                            <h3 class='h5 text-uppercase'><a data-toggle='modal'
                                                                             href='#'>Amazing
                                                Deluxe packages</a></h3>
                                            <p class='small'> Our packages and offers are designed to add value and make
                                                your visit to...</p>
                                            <div><a class='btn btn-outline-primary' href='{% url 'blog' %}'>More info</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='mb-4 item'>
                                    <div class='bg-white h-100'><a class='bg-cover d-block mh-2'
                                                                   style="background-image:url('/static/images/beach.jpg');"
                                                                   href='#'>

                                    </a>
                                        <div class='text-center p-4 p-lg-5'>
                                            <h3 class='h5 text-uppercase'><a data-toggle='modal'
                                                                             href='#'>Luxury
                                                Retreat packages</a></h3>
                                            <p class='small'> Our packages and offers are designed to add value and make
                                                your visit to...</p>
                                            <div><a class='btn btn-outline-primary' href='{% url 'blog' %}'>More info</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='mb-4 item'>
                                    <div class='bg-white h-100'><a class='bg-cover d-block mh-2'
                                                                   style="background-image:url('/static/images/beach_bay.jpg');"
                                                                   href='#'></a>
                                        <div class='text-center p-4 p-lg-5'>
                                            <h3 class='h5 text-uppercase'><a data-toggle='modal'
                                                                             href='#'>Customize
                                                package tours</a></h3>
                                            <p class='small'> Our packages and offers are designed to add value and make
                                                your visit to...</p>
                                            <div><a class='btn btn-outline-primary' href='{% url 'blog' %}'>More info</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='text-center'><a class='btn btn-primary' href='#'>See all offers</a></div>
                    </div>
                </section>
                <section class='bg-white py-4'>
                    <div class=''>
                        <hr class='small small-home'/>
                        <h2 class='h1 text-uppercase text-center mb-4'>Featured Services</h2>
                        <div class='h4 text-uppercase text-primary text-center mb-4'></div>
                        <div class='row mx-1'>
                            <div class='col-12 col-lg-6 px-1'>
                                <div class='row mx-0 mb-2'>
                                    <div class='col-12 col-md-6 px-0 bg-cover mh-2'
                                         style="background-image: url('/static/images/pool_party.png');"></div>
                                    <div class='col-12 col-md-6 text-center bg-light d-flex align-items-center justify-content-center p-3 p-md-4'>
                                        <div>
                                            <h3 class='text-uppercase'><a href='#'>Gym & Pool</a>
                                            </h3>
                                            <p class='small mb-2'>Gym & Pool endorses entire ancient city view and
                                                infinity pool concept, all exquisitely designed to offer. </p><a
                                                class='btn btn-sm mt-2 btn-outline-primary' href='{% url 'blog' %}'>View Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class='row mx-0 mb-2'>
                                    <div class='col-12 col-md-6 px-0 bg-cover mh-2'
                                         style="background-image: url('/static/images/sky_bar.jpg');"></div>
                                    <div class='col-12 col-md-6 text-center bg-light d-flex align-items-center justify-content-center p-3 p-md-4'>
                                        <div>
                                            <h3 class='text-uppercase'><a href='#'>Sixteen
                                                Skybar</a></h3>
                                            <p class='small mb-2'>Having a dazzling and magnificent sensation while
                                                drinking and chilling surrounded by the breathtaking scene when the sun
                                                sets and the night comes.</p><a
                                                class='btn btn-sm mt-2 btn-outline-primary' href='{% url 'blog' %}'>View Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 col-lg-6 px-1 mb-2'>
                                <div class='bg-cover h-100 mh-3'
                                     style="background-image:url('/static/images/eaten.jpg');">
                                    <div class='text-white text-center bg-gradient-dark d-flex align-items-center justify-content-center h-100 p-3'>
                                        <div>
                                            <h3 class='h1 text-uppercase'><a
                                                    href='#'>Thang Long
                                                Signature Restaurant</a></h3>
                                            <p class='mb-2'>Thang Long Signature Restaurant serves our dear diners
                                                traditional Vietnamese Cuisine in an innovative presentation.</p><a
                                                class='font-italic btn btn-sm mt-2 btn-outline-primary' href='{% url 'blog' %}'>Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 col-lg-6 px-1'>
                                <div class='row mx-0 mb-2'>
                                    <div class='col-12 col-md-6 px-0 bg-cover mh-2'
                                         style="background-image: url('/static/images/meeting_room.jpg');"></div>
                                    <div class='col-12 col-md-6 text-center bg-light d-flex align-items-center justify-content-center p-3 p-md-4'>
                                        <div>
                                            <h3 class='text-uppercase'><a href='#'>Meeting Room</a></h3>
                                            <p class='small mb-2'>The Meeting Room of The Oriental Jade Hotel with
                                                advanced equipments guarantees the efficiency and is suitable to
                                                high-level meetings</p><a class='small font-italic btn btn-sm mt-2 btn-outline-primary'
                                                                          href='{% url 'blog' %}'>Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 col-lg-6 px-1'>
                                <div class='row mx-0 mb-2'>
                                    <div class='col-12 col-md-6 px-0 bg-cover mh-2'
                                         style="background-image: url('/static/images/spa_lotus.jpg');"></div>
                                    <div class='col-12 col-md-6 text-center bg-light d-flex align-items-center justify-content-center p-3 p-md-4'>
                                        <div>
                                            <h3 class='text-uppercase'><a href='#'>O'Spa Lotus</a></h3>
                                            <p class='small mb-2'>The Oriental Jade Hotel prides itself on having a
                                                gallery of the most luxurious and morden spa in Hanoi Old Quarter. </p>
                                            <a class='small font-italic btn btn-sm mt-2 btn-outline-primary' href='{% url 'blog' %}'>Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <br>
    <div class="wrapper row3">
        <section class="hoc clear">
            <div class="center center mt-4 mb-4">
                <h3 class="nospace">AVAILABLE FEATURED SERVICES</h3>
                <p class="nospace">Erat volutpat integer vestibulum purus et sagittis rhoncus.</p>
            </div>
            <div class="group">
                <div class="one_third first">
                    <h6 class="nospace font-x1">Elit vel porttitor</h6>
                    <p>Ex suspendisse vestibulum turpis luctus pretium posuere vestibulum feugiat non metus quis vitae&hellip;</p>
                    <footer><a class="btn" href="#">Read More</a></footer>
                </div>
                <article class="one_third"><a href="#"><img class="" src="/static/images/breakfast.jpg" alt=""></a>
                    <h6 class="font-x1 mt-2">HOTEL ROOM SERVICE BREAKFAST</h6>
                    <p>Dignissim praesent consectetur nec tellus ut rutrum nam laoreet finibus mattis integer
                        ullamcorper arcu&hellip;</p>
                </article>
                <article class="one_third"><a href="#"><img class="" src='/static/images/car_parking.jpg' alt=""></a>
                    <h6 class="font-x1 mt-2">FREE PARKING</h6>
                    <p>Pellentesque vehicula dictum ligula tellus convallis nisl vel scelerisque quam ligula a mauris
                        quisque&hellip;</p>
                </article>
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block js %}

    {% comment %} <script src="/static/layout/scripts/jquery.backtotop.js"></script> {% endcomment %}
    {% comment %} <script src="/static/layout/scripts/jquery.mobilemenu.js"></script> {% endcomment %}
    {% comment %} <script src="/static/layout/scripts/jquery.flexslider-min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/js/popper.min.js"></script> {% endcomment %}
    <script src="/static/js/slick.min.js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    {% comment %} <script src="/static/js/map.js"></script> {% endcomment %}
    <script src="/static/js/site.js"></script>
    {% comment %} <script src="/static/js/wp-embed.min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/js/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/js/ion.sound.min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/js/jquery.doubletap.js"></script> {% endcomment %}
{% endblock js %}