{% extends 'layouts/base.html' %}

{% block title %}booking{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.form-control{
    height: 50px;
}
.card-header img{
    height:200px;
    width:300px
}
</style>
{% endblock css %}

{% block content %}
    <section class='px-5'>
            <h2 class= 'text-darkgold'>Search</h2>
            <form action="" method="POST" class="row justify-content-center align-items-center">            
            {% csrf_token %}        
                <div class="form-group col-lg-5">
                    <label for="">Check in - Check out</label><br>
                    <i class="far fa-calendar-alt position-absolute my-3 ml-2"></i>
                    <input class="form-control mr-sm-2 pl-4" type="text" placeholder="Check out" name="dates"  aria-label="Search" required="True" value="{{dates}} ">
                </div>
                <div class="form-group col-lg-2">
                    <label for="">Person</label>
{#                    <input class="form-control mr-sm-2" type="" placeholder="Person" name="capacity" aria-label="Search" required="True">#}
                    <select class="form-control mr-sm-2" name="capacity" required="True">
                        <option value="single" {% if capacity == 'single'%}selected{% endif %}>Single</option>
                        <option value="double" {% if capacity == 'double'%}selected{% endif %}>Double</option>
                        <option value="family" {% if capacity == 'family'%}selected{% endif %}>Family</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for=''></label>
                    <input type="submit" value="Check Availabilty" class="form-control mr-sm-2 btn btn-darkgold mt-2" style="position: relative">
                </div>
            </form>
    </section>
    <hr>
    <section class='px-5 pt-5'>
        <h1 class= 'text-darkgold text-center'>
            {% if search %}
                Rooms Available
            {% else %}
                Room
            {% endif %}
        </h1>
                <div>
            {% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="list-room">
        {% for item in room_list %}
        <div class='row mx-0 shadow rounded my-5'>
            <div class='col-12 col-md-5 order-md-1 px-0 image py-3'>
            {% for img in images %}
                {% if img.room_type == item %}
                <div class="w3-display-container mySlides px-3">
                    <img src="{{img.image.url}}" style="width:100%">
                </div>
                {% endif %}
            {% endfor %}
            
            </div>
            <div class='col-12 col-md-6 order-md-1 px-0'>
                <div class='pl-4 pt-4 pr-2'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <dl>
                                <dt>Type of room:</dt>
                                <dd>{{ item.room_type }}</dd>
                            </dl>
                            <dl>
                                <dt>
                                    Price:</dt>
                                <dd>
                                    {{ item.price }}$</dd>
                            </dl>
                        </div>
                        <div class='col-md-6'>
                            <dl>
                                <dt>Area:</dt>
                                <dd>{{ item.area }}</dd>
                            </dl>
                            <dl>
                                <a href="{% url 'payment' %}?type={{ item.room_type }}&date={{dates}}">
                                    <Button class="btn btn-darkgold">Book Now</Button>
                                </a>
                            </dl>
                        </div>
                    </div>
                    <dl>
                        <dt>
                            Description:</dt>
                        <dd>
                            {{ item.description }} {% lorem 2 %}</dd>
                    </dl>

                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="wrapper row3">
            <section class="hoc clear">
                <div class="center center mt-4 mb-4">
                    <h3 class="nospace">AVAILABLE FEATURED SERVICES</h3>
                    <p class="nospace">Erat volutpat integer vestibulum purus et sagittis rhoncus.</p>
                </div>
                <div class="group">
                    <div class="one_third first">
                        <h6 class="nospace font-x1">Elit vel porttitor</h6>
                        <p>Ex suspendisse vestibulum turpis luctus pretium posuere vestibulum feugiat non metus quis vitae&hellip;</p>
                        <footer><a class="btn" href="#">Read More</a></footer>
                    </div>
                    <article class="one_third"><a href="#"><img class="" src="/static/images/car_parking.jpg" alt=""></a>
                        <h6 class="font-x1 mt-2">HOTEL ROOM SERVICE BREAKFAST</h6>
                        <p>Dignissim praesent consectetur nec tellus ut rutrum nam laoreet finibus mattis integer ullamcorper arcu&hellip;</p>
                    </article>
                    <article class="one_third"><a href="#"><img class="" src='/static/images/breakfast.jpg' alt=""></a>
                        <h6 class="font-x1 mt-2">FREE PARKING</h6>
                        <p>Pellentesque vehicula dictum ligula tellus convallis nisl vel scelerisque quam ligula a mauris quisque&hellip;</p>
                    </article>
                </div>
            </section>
        </div>
    </div>
    </section>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
$('input[name="dates"]').daterangepicker({ "minDate": new Date()});
</script>
{% comment %} <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
    }
</script> {% endcomment %}
{% endblock js %}