{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} {% endblock %}</title>

    {% block css %} {% endblock %}
  </head>
  <body>
    {% include 'layouts/navbar.html' %}

    <div class="content">{% block content %} {% endblock %}</div>

    {% include 'layouts/footer.html' %} {% block js %} {% endblock %}

    <div id="footer"></div>
    <footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      {% comment %} <script src="{% static 'bootstrap-4.5.2/js/bootstrap.min.js' %}"></script> {% endcomment %}
      <script src="{% static 'js/nav.js' %}"></script>
      {% comment %}
      <script src="/assets/js/script.js"></script>
      {% endcomment %}
    </footer>
  </body>
</html>
